body {
  background-color: rgba(173, 170, 170, 0.678);
}

input {

  border-radius: 10px;
  outline: transparent;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 10px;
  border-color: lightskyblue;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.29);
}

.inputChange {
  margin-top: 0;
  flex-grow: 1;
  outline: transparent;
  border-radius: 10px;
  border-color: lightskyblue;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  -webkit-box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
}


.App_todo {
  width: 280px;
  height: 160px;
  background-color: lightblue;
  border-radius: 15px;
  align-content: center;
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 0px 0px #1d8d9c, 10px 10px 0px 0px #0f8f94af, 15px 15px 0px 0px #8fe7e7, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 0px 15px 18px 17px rgba(122, 175, 178, 0);
  box-shadow: 5px 5px 0px 0px #1d8d9c, 10px 10px 0px 0px #0f8f94af, 15px 15px 0px 0px #8fe7e7, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 0px 15px 18px 17px rgba(122, 175, 178, 0);
}

.add {
  margin-top: 10px;
  background-color: white;
  color: rgba(11, 107, 131, 0.788);
  border-color: lightskyblue;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
  padding: 2px;
  height: 26px;
  width: 40px;
  display: flex; 
  align-content: center;
  justify-content: center;
  align-items: center
}

.todo__add-new {
  width: 260px;
  height: 35px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgb(241, 245, 247);
  border-radius: 15px;
  width: 10px;
  border: solid 1px #1d8d9c;


}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  padding-top: 20px;
}
.todo__list {
  justify-content: space-between;
  width:  auto;
  height: 120px;
  overflow: auto;
  background-color: lightblue;
  border-radius: 15px;
}

.text {
  flex-grow: 1;
 
  justify-items: center;
  margin-left: 10px;
}

.todo__item {
  margin:3px;
  width: 260px;
  display: inline-flex;
  align-items: center;
}

.onRedact {
  width: 260px;
  display: inline-flex;
  align-items: center;
  justify-items: space-between;
  padding: 0;
  border: solid 2px rgb(215, 244, 247);
  background-color: rgb(198, 228, 233);
  border-radius: 10px;
  border-top: 0;
}

.chek {
  margin: 2px;
  margin-left: 3px;
  display: inline;
  align-items: center;
  justify-items: center;

}

.edit {
  height: 25px;
  display: inline;

  
  margin-right: 1px;
  margin-left: 1px;
  background-color: white;
  color: rgba(11, 107, 131, 0.788);
  border-color: lightskyblue;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
}

.delete {
  height: 25px;
  display: inline;
 

  margin-right: 1px;
  margin-left: 1px;
  background-color: white;
  color: rgba(11, 107, 131, 0.788);
  border-color: lightskyblue;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);

}
.star{ height: 25px;
  display: inline;
  
  margin-right: 1px;
  margin-left: 1px;
  background-color: white;
  color: rgba(11, 107, 131, 0.788);
  border-color: lightskyblue;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);}
.save {
  height: 25px;
  display: inline;
  

  margin-right: 1px;
  margin-left: 1px;
  background-color: white;
  color: rgba(11, 107, 131, 0.788);
  border-color: lightskyblue;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);

}

.cansel {
  height: 25px;
  display: inline;
 
 
  margin-right: 1px;
  margin-left: 1px;
  background-color: white;
  color: rgba(11, 107, 131, 0.788);
  border-color: lightskyblue;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.29);
}